<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Autocomplete</title>
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <div ng-app = "autocompleteApp" ng-controller="MainCtrl" class="container">
      <input type="search" autocomplete="off" ng-model="search" ng-keydown="getData()">
      <div>
        <listNames class="names" ng-repeat="option in options | filter: search as results" ng-click="select($index)" ng-if="search.length > 0">{{option.nome}}</listNames>
      </div>

      <div class="">
        {{teacher | json}}
      </div>
    </div>
  </body>
  <script>
    require('./renderer.js')
  </script>
</html>
